#entorno virtual del proyecto (cambiar nombre si clonamos proyecto y cambiamos el nombre en el nuestro)
Entorno_vehiculos_django/
*.pyc
__pycache__/
#archivos de base de datos que trae por defecto django
* .sqlite3